<app-header></app-header>
<p>playlist-page works!</p>

<a routerLink="/album">album</a><br>
<a routerLink="/album/1">album</a><br>
<a routerLink="/album/2/show">album</a><br>
<a routerLink="/album/3/edit">album</a><br>

<p>
    <button (click)="createAnAlbum()" type="button">Créer un album</button>
</p>



<ul>
    <li *ngFor="let album of albums">
        {{album.name}}
        - <button (click)="removeAlbum(album.id)" *ngIf="album.id != null" type="button">Supprimer</button>
    </li>
</ul>

<h2>CRYPTO</h2>
<ul>
    <li *ngFor="let c of cryptos">
        {{c.symbol}} - {{c.volume}}
    </li>
</ul>